<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
    <title>{% block title %}Se connecter - SandBox{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="homepageLogin">
        <div class="containerLogin">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <img class="home-logo-login" src="{{ asset('/build/images/logo/moviebox.svg') }}" alt="Logo SandBox"/>
                {% if app.user %}
                    <div class="containerAuthButtons">
                        <button class="submitConnexion" type="submit"><a href="{{ path('home_index') }}">Entrer</a></button>
                    <div class="mb-3">
                        Tu es connecté entant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                        <a class="loggedPageLogoutButton" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% else %}
                    <h1 class="loginConnectedTitle">Se connecter</h1>
                    <div class="containerLoginInputEmail">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="containerLoginInputPassword">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="submitConnexion" type="submit">
                        Connexion
                    </button>
                    <a class="subscriptionText" href="{{ path('app_register') }}">Pas encore inscrit ? Créez un compte !</a>

                {% endif %}
            </form>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>

