{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="containerHomePage">
      {% if is_granted("ROLE_ADMIN") %}
        <div class="adminHomePannel">
          <div class="containerAdminHomePannel">
            <h2 class="adminHomePannelTitle">Panneau d'administration</h2>
            <p class="adminHomePannelInfo">( Ce panneau est uniquement vu par les administrateurs )</p>
          </div>
          <div class="containerAdminItemAdd">
            <a class="adminItem" href="{{path('category_new')}}">Nouvelle catégorie</a>
            <a class="adminItem" href="{{path('program_new')}}">Nouvelle série</a>
            <a class="adminItem" href="{{path('season_new')}}">Nouvelle saison</a>
            <a class="adminItem" href="{{path('episode_new')}}">Nouvel épisode</a>
            <a class="adminItem" href="{{path('actor_new')}}">Nouvel acteur</a>
          </div>
          <div class="containerAdminItemEdit">
            <a class="adminItem" href="{{path('category_admin')}}">Editer une categorie</a>
            <a class="adminItem" href="{{path('program_admin')}}">Editer une série</a>
            <a class="adminItem" href="{{path('season_admin')}}">Editer une saison</a>
            <a class="adminItem" href="{{path('episode_admin')}}">Editer un episode</a>
          </div>
        </div>
      {% endif %}
        <p>/!\ Ce site à n'a pas pour but d'être publié /!\</p>
        <p>L'objectif de ce site est uniquement dans le but d'un apprentissage à utiliser Symfony.</p>
    </div>


{# <div class="wrapper">
  <section id="section1">
    <a href="#section3">‹</a>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/n4d0.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/7kp3.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/72og.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/n18m.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/w0bd.jpg" alt="Describe Image">
      </div>
    <a href="#section2">›</a>
  </section>
  <section id="section2">
    <a href="#section1">‹</a>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/bsyx.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/6fwe.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/ik8i.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/39mr.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/pf42.jpg" alt="Describe Image">
      </div>
    <a href="#section3">›</a>
  </section>

  <section id="section3">
    <a href="#section2">‹</a>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/8ddx.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/kdwz.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/qb5d.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/037y.jpg" alt="Describe Image">
      </div>
      <div class="item">
        <img src="https://zupimages.net/up/21/03/iy47.jpg" alt="Describe Image">
      </div>
    <a href="#section1">›</a>
  </section>
</div> #}
{% endblock %}
