{{ form_start(form) }}
    <div class="containerNewCategoryForm">
        <div class="containerCategoryFormName">
            <div class="itemCategoryFormName">{{ form_row(form.name) }}</div>
        </div>
        <div class="containerNewCategoryButtons">
            <button class="newCategorySubmitButton">{{ button_label|default('Créer') }}</button>
            <a class="newCategoryBackButton" href="{{path('home_index')}}">Retour</a>
        </div>
    </div>
{{ form_end(form) }}
