{% extends 'base.html.twig' %}

{% block title %}Episodes - Administration{% endblock %}

{% block body %}
    <div class="containerEpisodesList">
        <h1 class="episodesListAdminTitle">Liste des Episodes</h1>

        {% for episode in episodes %}
            <div class="containerEpisodeListCards">
                <div class="containerEpisodeListItem">
                    <div class="itemEpisodeListLabel">Id</div>
                    <div class="itemEpisodeListContent">{{episode.id}}</div>
                </div>
                <hr>
                <div class="containerEpisodeListItem">
                    <div class="itemEpisodeListLabel">Titre</div>
                    <div class="itemEpisodeListContent">{{episode.title}}</div>
                </div>
                <hr>
                <div class="containerEpisodeListItem">
                    <div class="itemEpisodeListLabel">Numéro</div>
                    <div class="itemEpisodeListContent">{{episode.number}}</div>
                </div>
                <hr>
                <div class="containerEpisodeListItem">
                    <div class="itemEpisodeListLabel">Sommaire</div>
                    <div class="itemEpisodeListContent">{{episode.summary}}</div>
                </div>
                <hr>
                <div class="containerEpisodeListItem">
                    <div class="itemEpisodeListLabel">Affiche</div>
                    <div class="itemEpisodeListContent">{{episode.poster}}</div>
                </div>
                <hr>
                <div class="containerEpisodeListItem">
                    <div class="itemEpisodeListLabel">Actions</div>
                    <div class="containerEpisodeListItemButtons">
                        <a class="itemEpisodeListContentButtons" href="{{ path('episode_show', {'id': episode.id}) }}">Voir</a>
                        <a class="itemEpisodeListContentButtons" href="{{ path('episode_edit', {'id': episode.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun résultat</p>        
        {% endfor %}
    </div>
{% endblock %}
