{% extends 'base.html.twig' %}

{% block title %}Saisons - Administration{% endblock %}

{% block body %}
    <div class="containerSeasonsList">
        <h1 class="seasonsListAdminTitle">Liste des Saisons</h1>

        {% for season in seasons %}
            <div class="containerSeasonListCards">
                <div class="containerSeasonListItem">
                    <div class="itemSeasonListLabel">Id</div>
                    <div class="itemSeasonListContent">{{season.id}}</div>
                </div>
                <hr>
                <div class="containerSeasonListItem">
                    <div class="itemSeasonListLabel">Numéro</div>
                    <div class="itemSeasonListContent">{{season.number}}</div>
                </div>
                <hr>
                <div class="containerSeasonListItem">
                    <div class="itemSeasonListLabel">Année</div>
                    <div class="itemSeasonListContent">{{season.year}}</div>
                </div>
                <hr>
                <div class="containerSeasonListItem">
                    <div class="itemSeasonListLabel">Description</div>
                    <div class="itemSeasonListContent">{{season.description}}</div>
                </div>
                <hr>
                <div class="containerSeasonListItem">
                    <div class="itemSeasonListLabel">Video</div>
                    <div class="itemSeasonListContent">{{season.video}}</div>
                </div>
                <hr>
                <div class="containerSeasonListItem">
                    <div class="itemSeasonListLabel">Actions</div>
                    <div class="containerSeasonListItemButtons">
                        <a class="itemSeasonListContentButtons" href="{{ path('season_show', {'id': season.id}) }}">Voir</a>
                        <a class="itemSeasonListContentButtons" href="{{ path('season_edit', {'id': season.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun résultat</p>        
        {% endfor %}
    </div>
{% endblock %}
