{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} | Episode {{ episode.number }} | Saison {{ season.number }} - {{ parent() }}{% endblock %}

{% block body %}

    <div class="containerEpisodeShow">
        <div class="itemEpisodeShow">
            <div class="containerContentEpisodeShow">
                <div class="containerPosterEpisodeShow">
                    <img class="episodePosterShow" src="{{ episode.poster }}" alt="poster episode">
                </div>
                <div class="containerEpisodeContent">
                    <div class="containerEpisodeTitleShow">
                        <h1 class="episodeTitleShowEpisode">{{ episode.title }}</h1>
                    </div>
                    <div class="containerEpisodeShowSynopsisLabel">
                        <div class="episodeShowSynopsisLabel">Sommaire:</div>
                    </div>
                    <div class="containerEpisodeShowSynopsisContent">
                        <div class="episodeShowSynopsisContent">{{ episode.summary }}</div>
                    </div>
                    <div class="containerBackToListEpisodeShow">
                        <a class="backToListEpisodeShow" href="{{ path('program_season_show',{seasonId: season.id, programSlug: program.slug}) }}">Retour à la liste des episodes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "/includes/_footer.html.twig" %}
{% endblock %}