{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} | Episode {{ episode.number }} | Saison {{ season.number }} | {{ parent() }}{% endblock %}

{% block body %}

    <div class="containerEpisodeShow">
        <div class="itemEpisodeShow">
            <div class="containerContentEpisodeShow">
                <div class="containerPosterEpisodeShow">
                    {% if episode.image %}
                        <img class="episodePosterShow" src="{{ '/uploads/' ~ episode.image }}" alt="image episode">
                    {% else %}
                        <img class="episodeNoImageShow" src="{{ asset('build/images/user/noImage.png') }}"alt="No Picture"/>        
                    {% endif %}
                </div>
                <div class="containerEpisodeContent">
                    <div class="containerEpisodeTitleShow">
                        <h1 class="episodeTitleShowEpisode">{{ episode.title }}</h1>
                    </div>
                    <div class="containerEpisodeShowSynopsisLabel">
                        <div class="episodeShowSynopsisLabel">Sommaire:</div>
                    </div>
                    <div class="containerEpisodeShowSynopsisContent">
                        <div class="episodeShowSynopsisContent">{{ episode.summary }}</div>
                    </div>

                    {% for comment in episode.comments %}
                        <div class="containerCommentSection">

                        </div>
                        <p>Auteur: {{comment.author.pseudo ? comment.author.pseudo : comment.author.email}}</p>
                        <p>Note: {{ comment.rate }}/5</p>
                        <p>Commentaire: {{ comment.comment }}</p>

                        {% if app.user == comment.author or is_granted("ROLE_ADMIN") %}
                            {{ include('comment/_delete_form.html.twig') }}
                        {%endif%}
                    {% endfor %}

                    {% if app.user %}
                        <div class="containerFormNew">
                            <h1 class="newFormNewTitle">Commentaire(s)</h1>
                        {{ include('comment/_form.html.twig') }}
                        </div>
                    {% endif %}

                    <div class="containerBackToListEpisodeShow">
                        <a class="backToListEpisodeShow" href="{{ path('program_season_show',{seasonId: season.id, programSlug: program.slug}) }}">Retour à la liste des épisodes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "/includes/_footer.html.twig" %}
{% endblock %}