{% extends 'base.html.twig' %}

{% block title %}Séries - {{ parent() }}{% endblock %}

{% block body %}
    <div class="containerProgramsPage">
        <h1>Toutes les séries</h1>

        <div class="containerSearchFormMobile">
            <form id="searchFormMobile" action="{{ path('program_search') }}" method="get">
                <div id="searchBox">
                    <input type="text" name="q" id="searchBarMobile" autocomplete="off" placeholder="Trouver une série">
                </div>
                <button id="submitSearchMobileButton">Chercher</button>
            </form>
        </div>

        <div class="itemAllProgram">
            {% for program in programs %}
                <div class="containerProgramItem">
                    <div class="programItem">
                        <a href="{{ path("program_show", { slug: program.slug }) }}"><img class="allProgramsPosterShow" src="{{ '/uploads/' ~ program.poster }}" alt="poster program"></a>
                        <h2>{{ program.title }}</h2>
                    </div>
                </div>
            {% else %}
                <div class="containerAlertMessageNoItem">
                    <p class"alertMessageNoItem">Aucune séries disponible.</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "/includes/_footer.html.twig" %}
{% endblock %}
