{% extends 'base.html.twig' %}

{% block title %}Séries - {{ parent() }}{% endblock %}

{% block body %}
    <div class="containerProgramsPage">
        <h1>Toutes les séries: </h1>
        <div class="itemAllProgram">
            {% for program in programs %}
                <div class="containerProgramItem">
                    <div class="programItem">
                        <a href="{{ path("program_show", { id: program.id }) }}"><img class="allProgramsPosterShow" src="{{ program.poster }}" alt="poster program"></a>
                        <h2>{{ program.title }}</h2>
                        <a class="showProgramButton" href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
                    </div>
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>
    {% include "/includes/_footer.html.twig" %}
{% endblock %}
