{% extends 'base.html.twig' %}

{% block title %}Saison {{ seasons.number }}{% endblock %}

{% block body %}

    <div class="containerEpisodes">
        {% for episode in episodes %}
            <div class="EpisodeItemSeasonShow">
                <a href="{{ path('program_season_episode_show', {seasonId: seasons.id, programId: program.id, episodeId: episode.id}) }}"><img class="episodePosterSeasonShow" src="{{ episode.poster }}" alt="episode poster">
                    <div class="episodeNumberNumberAndTitle">
                        <div class="seasonNumberShow">Saison {{ seasons.number }}:</div> <div class="episodeTitleShow">{{ episode.title }}</div>
                    </div>
                </a>
                {# Episode: <a href="{{ path('program_season_episode_show', {seasonId: seasons.id, programId: program.id, episodeId: episode.id}) }}">Episode {{ episode.number }}</a> #}
            </div>
        {% endfor %}
    </div>
    <div class="containerBackToListSeasonShow">
        <a class="backToListSeasonShow" href="{{ path('program_show',{id: program.id}) }}">Retour à la liste des episodes</a>
    </div>

{# <a href="{{ path('episode_new') }}">Crée un nouvel episode</a>
<a href="{{ path('program_index') }}">Retour à la liste des programmes</a> #}
    {% include "/includes/_footer.html.twig" %}
{% endblock %}