{# templates/program/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="containerProgramShow">
    <div class="itemProgramShow">
        <h1 class="programTitleShow">{{ program.title }}</h1>
        <img class="programPosterShow" src="{{ program.poster }}" alt="poster program">
        <p>{{ program.synopsis }}</p>
        <p class="categoryShowInformation">Catégorie : {{ program.category.name }}</p>
    </div>
    <a class="backToListProgramShow" href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
</div>
{% include "/includes/_footer.html.twig" %}
{% endblock %}