{# templates/program/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
<div class="containerProgramShow">
    <div class="itemProgramShow">
        <img class="programPosterShow" src="{{ program.poster }}" alt="poster program">
            <div class="containerContentProgramShow">
            <h1 class="programTitleShow">{{ program.title }}</h1>
            <p class="programShowSynopsisLabel">Synopsis:</p>
            <p class="programShowSynopsisContent">{{ program.synopsis }}</p>
            <p class="categoryShowInformation"><span class="categoryShowTitle">Catégorie :</span> {{ program.category.name }}</p>
        </div>
    </div>
    <a class="backToListProgramShow" href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
</div>
{% include "/includes/_footer.html.twig" %}
{% endblock %}