{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - {{ parent()}}{% endblock %}

{% block body %}
<div class="containerProgramShow">
    <div class="itemProgramShow">
        <div class="containerContentProgramShow">
            <div class="containerProgramContent">
                <div class="containerPosterShow">
                    <img class="programPosterShow" src="{{ '/uploads/' ~ program.poster }}" alt="poster program">
                    <div class="containerProgramAdmin">
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="programEdit" href="{{ path('program_edit', {'id': program.id}) }}">Modifier la série</a>
                        {% endif %}
                    </div>
                </div>
                <div class="containerProgramTitleShow">
                    <h1 class="programTitleShow">{{ program.title }}</h1>
                </div>
                <div class="containerCategoryShowInformation">
                    <div class="categoryShowInformation"><span class="categoryShowTitle">Catégorie :</span> {{ program.category.name }}</div>
                </div>
                <div class="containerProgramShowSynopsisLabel">
                    <div class="programShowSynopsisLabel">Synopsis:</div>
                </div>
                <div class="containerProgramShowSynopsisContent">
                    <div class="programShowSynopsisContent">{{ program.synopsis }}</div>
                </div>
                <div class="containerSeasonShow">
                    {% for season in seasons %}
                            <h4><a href="{{ path('program_season_show', {seasonId: season.id, programSlug: program.slug}) }}">Saison {{ season.number }}</a></h4>
                        {% else %}
                            <p class="alertMessageNoSeason">Aucune saisons pour cette série</p>
                    {% endfor %}
                </div>
                <div class="containerProgramShowActorLabel">
                    <div class="programShowActorLabel">Réalisateur(s):</div>
                </div>
                <div class="containerProgramShowActorContent">
                    <div class="containerProgramActors">
                        {% for director in directors %}
                            <div class="containerItemActors">
                                <a class="containerLinkItemProgramActors" href="{{ path('director_show', {id: director.id})}}">
                                    <div class"itemProgramActors">
                                        <img class="programShowActorPicture" src="{{ '/uploads/' ~ director.picture }}" alt="Actor Picture"/>
                                        <div class="containerActorNameProgramShow">
                                            <p><span class="realNameItemActor">Nom: </span>{{ director.name }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div class="containerAlertMessageNoActors">
                                <p class"alertMessageNoActors">Aucun directeurs pour cette série</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="containerProgramShowActorLabel">
                    <div class="programShowActorLabel">Acteurs:</div>
                </div>
                <div class="containerProgramShowActorContent">
                    <div class="containerProgramActors">
                        {% for role in roles %}
                            <div class="containerItemActors">
                                <a class="containerLinkItemProgramActors" href="{{ path('actor_show', {id: role.actor.id})}}">
                                    <div class"itemProgramActors">
                                        <img class="programShowActorPicture" src="{{ '/uploads/' ~ role.actor.picture }}" alt="Actor Picture"/>
                                        <div class="containerActorNameProgramShow">
                                            <p><span class="realNameItemActor">Nom: </span>{{ role.actor.name }}</p>
                                            <p><span class="roleItemActor">Rôle: </span>{{ role.name }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% else %}
                            <div class="containerAlertMessageNoActors">
                                <p class"alertMessageNoActors">Aucun acteurs pour cette série</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="containerBackToListProgramShow">
                    <a class="backToListProgramShow" href="{{ path('program_index') }}">Retour à la liste des programmes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "/includes/_footer.html.twig" %}
{% endblock %}