{# templates/program/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ program.title }} - {{ parent()}}{% endblock %}

{% block body %}
<div class="containerProgramShow">
    <div class="itemProgramShow">
        <div class="containerContentProgramShow">
            <div class="containerProgramContent">
                <div class="containerPosterShow">
                    <img class="programPosterShow" src="{{ asset('uploads/' ~ program.poster) }}" alt="poster program">
                    <div class="containerProgramAdmin">
                        {% if is_granted("ROLE_ADMIN") %}
                            <a class="programEdit" href="{{ path('program_edit', {'id': program.id}) }}">Modifier la série</a>
{#                             <div class="programDelete">{{ include('program/_delete_form.html.twig') }}</div> #}
                        {% endif %}
                    </div>
                </div>
                <div class="containerProgramTitleShow">
                    <h1 class="programTitleShow">{{ program.title }}</h1>
                </div>
                <div class="containerProgramShowSynopsisLabel">
                    <div class="programShowSynopsisLabel">Synopsis:</div>
                </div>
                <div class="containerProgramShowSynopsisContent">
                    <div class="programShowSynopsisContent">{{ program.synopsis }}</div>
                </div>
                <div class="containerSeasonShow">
                {% for season in seasons %}
                    <h4><a href="{{ path('program_season_show', {seasonId: season.id, programSlug: program.slug}) }}">Saison {{ season.number }}</a></h4>
                {% endfor %}
                </div>
                <div class="containerCategoryShowInformation">
                    <div class="categoryShowInformation"><span class="categoryShowTitle">Catégorie :</span> {{ program.category.name }}</div>
                </div>
                <div class="containerProgramShowActorLabel">
                    <div class="programShowActorLabel">Acteurs:</div>
                </div>
                <div class="containerProgramShowActorContent">
                    <ul class="containerProgramActors">
                        {% for actor in program.actors %}
                            <div class="containerItemActors">
                                <a class="containerLinkItemProgramActors" href="{{ path('actor_show', {id: actor.id})}}"><li class"itemProgramActors">{{ actor.name }}</li></a>
                            </div>
                        {% else %}
                            <li class"itemProgramActorsNone">Aucun acteur pour cette série</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="containerBackToListProgramShow">
                    <a class="backToListProgramShow" href="{{ path('program_index') }}">Retour à la liste des programmes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "/includes/_footer.html.twig" %}
{% endblock %}