{{ form_start(form) }}

    <div class="containerFormNewElements">
        <div class="containerFormNewElement">
            <div class="itemFormNewSimpleInput">{{ form_row(form.name) }}</div>
        </div>
        <div class="containerFormNewElement">
            <div class="itemFormNewTextArea">{{ form_row(form.description) }}</div>
        </div>
        <div class="containerFormNewElement">
            <div class="itemFormNewUpload">{{ form_row(form.pictureFile) }}</div>
        </div>
        <div class="containerFormNewElement">
            <div class="itemFormNewSelect">{{ form_row(form.nationality) }}</div>
        </div>
        <div class="containerFormNewElementButtons">
            <button class="itemFormNewSubmitButton">{{ button_label|default('Créer') }}</button>
        </div>
        <div class="containerFormNewButtons">
            <a class="formNewBackButton" href="{{path('home_index')}}">Retour</a>
        </div>
    </div>
{{ form_end(form) }}