{% extends 'base.html.twig' %}

{% block title %}Acteurs - {{ parent() }}{% endblock %}

{% block body %}
<div class="containerActorsPage">
    <h1>Tout les acteurs</h1>
    <div class="containerSearchFormMobile">
        <form id="searchFormActorMobile" action="{{ path('actor_search') }}" method="get">
            <div id="searchBox">
                <input type="text" name="q" id="searchBarMobile" autocomplete="off" placeholder="Trouver un(e) acteur(trice)">
            </div>
            <button id="submitSearchMobileButton">Chercher</button>
        </form>
        <div class="containerButtonActorSearch">
            <a class="displayAllActorsButton" href="{{path('actor_index')}}">Tout afficher</a>
        </div>
    </div>
    <div class="itemAllActors">
        {% for actor in actors %}
        <div class="containerActorItem">
            <div class="actorItem">
                <a href="{{ path("actor_show", { actorSlug: actor.slug }) }}"><img class="allActorsPictureShow" src="{{ '/uploads/' ~ actor.picture }}" alt="Actor Picture"/></a>
                <h2>{{ actor.name }}</h2>
            </div>
        </div>
        {% else %}
            <div class="containerAlertMessageNoItem">
                <p class"alertMessageNoItem">Aucune de resultats trouvé.</p>
            </div>
        {% endfor %}
    </div>
    <div class="containerPagination">
        {% do actors.setPageRange(2) %}
        {{ knp_pagination_render(actors, 'pagination.html.twig') }}
    </div>
</div>
{% endblock %}
