{% extends 'base.html.twig' %}

{% block title %}Acteurs - {{ parent() }}{% endblock %}

{% block body %}
<div class="containerActorsPage">
    <h1>Tout les acteurs</h1>
    <div class="containerSearchActorsForm">
        <form id="searchForm" action="{{ path('actor_search') }}" method="get">
            <div id="searchBox">
                <input type="text" name="q" id="searchBar" autocomplete="off" placeholder="Trouver un(e) acteur(trice)">
            </div>
            <button id="submitSearchButton">Chercher</button>
        </form>
    </div>
    <div class="itemAllActors">
        {% for actor in actors %}
        <div class="containerActorItem">
            <div class="actorItem">
                <a href="{{ path("actor_show", { id: actor.id }) }}"><img class="allActorsPictureShow" src="{{ '/uploads/' ~ actor.picture }}" alt="Actor Picture"/></a>
                <h2>{{ actor.name }}</h2>
            </div>
        </div>
        {% else %}
            <div class="containerAlertMessageNoItem">
                <p class"alertMessageNoItem">Aucune de resultats trouvé.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
