{% extends 'base.html.twig' %}

{% block title %}{{actor.name}}{% endblock %}

{% block body %}
    <div class="containerShowPerson">
        <h1 class="ShowPersonTitle">{{ actor.name }}</h1>
        {% if actor.picture %}
            <img class="personPicture" src="{{ '/uploads/' ~ actor.picture }}" alt="Actor Picture"/>
        {% else %}
            <img class="personNoImage" src="{{ asset('build/images/user/noImage.png') }}"alt="No Picture"/>        
        {% endif %}
        <div class="containerPersonAdmin">
            {% if is_granted("ROLE_ADMIN") %}
                <a class="personEdit" href="{{ path('actor_edit', {'actorSlug': actor.slug}) }}">Modifier l'acteur</a>
            {% endif %}
        </div>
        <div class="containerPersonDescription">
            <p class="personDescriptionName">{{actor.name}}</p>
            <hr>
            <p class="personDescriptionNationality"><span class="personDescriptionNationalityLabel">Pays:</span> {{actor.country}}</p>
            <p class="personDescriptionNationality"><span class="personDescriptionNationalityLabel">Nationalité:</span> {{actor.nationality}}</p>

            <p class="personDescriptionLabel">À propos:</p>
            <hr>
            <p class="personDescription">{{actor.description}}</p>

            <p class="personRoleLabel">Rôles:</p>
            <hr>
            {% for role in roles %}
            <div class="{{ roles|length <= 1 ? "containerMoviesRoleOnlyOne" : "containerMoviesRole" }}">
                <div class="itemMoviesRole">
                    <div class="personRoleProgramTitle"><span class="personDescriptionRoleLabel">{{role.name}}:</span>
                        <a href="{{path('program_show', {slug: role.program.slug}) }}">{{ role.program.title }}</a>
                    </div>
                    <a href="{{path('program_show', {slug: role.program.slug}) }}">
                        <img class="allProgramsPosterShow" src="{{ '/uploads/' ~ role.program.poster }}" alt="poster program">
                    </a>
                </div>
            </div>
            {% else %}
                <p class="personRoleLabel">Rôles:</p>
                <hr>
                <p class="alertMessageNoRoles">Cet acteur n'a pas de rôle</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
