<nav class="Navbar">
  <div class="containerNavbar">
    <a class="navbar-brand" href="{{ path('home_index') }}"><img class="navbar-logo" src="{{ asset('/build/images/logo/moviebox.svg') }}" alt="Logo SandBox" style="width: 120px;"/></a>
  <div class="containerItems">
    <a class="itemPrograms" href="{{path('program_index') }}">Séries</a>
    <a class="itemCategory" href="">Catégorie</a>
    </div>
  </div>
  <div class="navRightSide">
    <form id="searchForm" action="{{ path('program_search') }}" method="get">
        <ul id="autocomplete"></ul>
        <div id="searchBox">
            <input type="text" name="q" id="searchBar" autocomplete="off">
        </div>
        <button id="submitSearchButton">Chercher</button>
    </form>
    <a class="navbar-logout" href="{{ path('app_logout') }}">Déconnexion</a>
  </div>
</nav>

