<nav class="Navbar">
  <div class="containerNavbar">
    <a class="navbar-brand" href="{{ path('home_index') }}"><img class="navbar-logo" src="{{ asset('/build/images/img/logo/moviebox.png') }}" alt="Logo SandBox"/></a>

    <div class="navDropdown">
      <div class="dropbtn">Parcourir
        <img class="dropbtnArrowInactive" src="{{ asset('/build/images/nav/dropDownArrowInactive.png') }}"/>
        <img class="dropbtnArrowActive" src="{{ asset('/build/images/nav/dropDownArrowActive.png') }}"/>
        <div class="navDropdown-content">
          <a class="itemNavMobile" href="{{path('home_index') }}">Accueil</a>
          <a class="itemNavMobile" href="{{path('program_index') }}">Séries</a>
          <a class="itemNavMobile" href="{{path('actor_index') }}">Acteurs</a>
        {% if is_granted("ROLE_ADMIN") %}
          <a class="itemNavAdminMobile" href="{{path('administration_index') }}">Admin</a>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="containerItems">
      <a href="{{path('home_index') }}" class="itemNav">Accueil</a>
      <a href="{{path('program_index') }}" class="itemNav">Séries</a>
      <a  href="{{path('actor_index') }}" class="itemNav">Acteurs</a>
      {% if is_granted("ROLE_ADMIN") %}
        <a href="{{path('administration_index') }}" class="itemNavAdmin">Admin</a>
      {% endif %}
    </div>
  </div>
  
  <div class="navRightSide">
    <form id="searchForm" action="{{ path('program_search') }}" method="get">
        <div id="searchBox">
            <input type="text" name="q" id="searchBar" autocomplete="off" placeholder="Trouver une série">
        </div>
        <button id="submitSearchButton">Chercher</button>
    </form>
{#     <a class="navbar-logout" href="{{ path('app_logout') }}">Déconnexion</a> #}
    <a href=""><img class="accountLogo" src="{{ asset('/build/images/img/account/account.png') }}" alt="account logo"></a>
  </div>
</nav>

