<nav class="Navbar">
  <div class="containerNavbar">
    <a class="navbar-brand" href="{{ path('home_index') }}"><img class="navbar-logo" src="{{ asset('/build/images/logo/moviebox.svg') }}" alt="Logo SandBox"/></a>

    <ul class="containerItems">
      <li class="itemPrograms" href="{{path('program_index') }}">Séries</li>
      <li class="itemCategory" href="">Catégorie</li>
    </ul>
    
  </div>
  <div class="navRightSide">
    <form id="searchForm" action="{{ path('program_search') }}" method="get">
        <div id="searchBox">
            <input type="text" name="q" id="searchBar" autocomplete="off">
        </div>
        <button id="submitSearchButton">Chercher</button>
    </form>
    <a class="navbar-logout" href="{{ path('app_logout') }}">Déconnexion</a>
  </div>
</nav>

