<nav class="Navbar">
  <div class="containerNavbar">
    <a class="navbar-brand" href="{{ path('home_index') }}"><img class="navbar-logo" src="{{ asset('/build/images/logo/moviebox.png') }}" alt="Logo SandBox"/></a>

    <ul class="containerItems">
      <a href="{{path('program_index') }}"><li class="itemPrograms">Séries</li></a>
      <a href=""><li class="itemCategory">Catégorie</li></a>
    </ul>
    
  </div>
  <div class="navRightSide">
    <form id="searchForm" action="{{ path('program_search') }}" method="get">
        <div id="searchBox">
            <input type="text" name="q" id="searchBar" autocomplete="off">
        </div>
        <button id="submitSearchButton">Chercher</button>
    </form>
    <a class="navbar-logout" href="{{ path('app_logout') }}">Déconnexion</a>
  </div>
</nav>

