{% extends 'base.html.twig' %}

{% block title %}Roles - Administration{% endblock %}

{% block body %}
    <div class="containerItemList">
        <h1 class="listAdminTitle">Liste des Roles</h1>

        {% for role in roles %}
            <div class="containerListCards">
                <div class="containerListItem">
                    <div class="itemListLabel">Id</div>
                    <div class="itemListContent">{{role.id}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Nom</div>
                    <div class="itemListContent">{{role.name}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Actions</div>
                    <div class="containerListItemButtons">
                        <a class="itemListContentButtons" href="{{ path('role_show', {'id': role.id}) }}">Voir</a>
                        <a class="itemListContentButtons" href="{{ path('role_edit', {'id': role.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun résultat</p>
        {% endfor %}
    </div>
    <div class="containerPagination">
        {% do roles.setPageRange(2) %}
        {{ knp_pagination_render(roles, 'pagination.html.twig') }}
    </div>
{% endblock %}












{# 
{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
    <h1>Role index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <a href="{{ path('role_show', {'id': role.id}) }}">show</a>
                    <a href="{{ path('role_edit', {'id': role.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('role_new') }}">Create new</a>
{% endblock %}
 #}