{% extends 'base.html.twig' %}

{% block title %}Saisons - Administration{% endblock %}

{% block body %}
    <div class="containerItemList">
        <h1 class="listAdminTitle">Liste des Saisons</h1>

        {% for season in seasons %}
            <div class="containerListCards">
                <div class="containerListItem">
                    <div class="itemListLabel">Id</div>
                    <div class="itemListContent">{{season.id}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Numéro</div>
                    <div class="itemListContent">{{season.number}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Année</div>
                    <div class="itemListContent">{{season.year}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Description</div>
                    <div class="itemListContent">{{season.description}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Video</div>
                    <div class="itemListContent">{{season.video}}</div>
                </div>
                <hr>
                <div class="containerListItem">
                    <div class="itemListLabel">Actions</div>
                    <div class="containerListItemButtons">
                        <a class="itemListContentButtons" href="{{ path('season_show', {'id': season.id}) }}">Voir</a>
                        <a class="itemListContentButtons" href="{{ path('season_edit', {'id': season.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun résultat</p>        
        {% endfor %}
    </div>
    <div class="containerPagination">
        {% do seasons.setPageRange(2) %}
        {{ knp_pagination_render(seasons, 'pagination.html.twig') }}
    </div>
{% endblock %}
