{{ form_start(form) }}
    <div class="containerFormNewElements">
        <div class="containerFormNewElement">
            <div class="itemFormNewSimpleInput">{{ form_row(form.name) }}</div>
        </div>
        <div class="containerFormNewElement">
            <div class="itemFormNewSelect">{{ form_row(form.actor) }}</div>
        </div>
        <div class="containerFormNewElement">
            <div class="itemFormNewSelect">{{ form_row(form.program) }}</div>
        </div>
        <div class="containerFormNewElement">
            <div class="itemFormNewSelect">{{ form_row(form.role) }}</div>
        </div>
        <div class="containerFormNewElementButtons">
            <button class="itemFormNewSubmitButton">{{ button_label|default('Créer') }}</button>
        </div>
{#         <div class="containerFormNewElementButtons">
            <div class="itemFormDelete">{{ include('role/_delete_form.html.twig') }}</div>
        </div>
        <div class="containerFormNewButtons">
            <a class="formNewBackButton" href="{{path('home_index')}}">Retour</a>
        </div> #}
    </div>
{{ form_end(form) }}
