{% extends 'base.html.twig' %}

{% block title %}{{director.name}}{% endblock %}

{% block body %}
    <div class="containerShowPerson">
        <h1 class="ShowPersonTitle">{{ director.name }}</h1>
        {% if director.picture %}
            <img class="personPicture" src="{{ '/uploads/' ~ director.picture }}" alt="Director Picture"/>
        {% else %}
            <img class="personNoImage" src="{{ asset('build/images/user/noImage.png') }}"alt="No Picture"/>        
        {% endif %}
        <div class="containerPersonAdmin">
            {% if is_granted("ROLE_ADMIN") %}
                <a class="personEdit" href="{{ path('director_edit', {'id': director.id}) }}">Modifier le réalisateur</a>
            {% endif %}
        </div>
        <div class="containerPersonDescription">
            <p class="personDescriptionName">{{director.name}}</p>
            <hr>
            <p class="personDescriptionNationality"><span class="personDescriptionNationalityLabel">Pays:</span> {{director.country}}</p>
            <p class="personDescriptionNationality"><span class="personDescriptionNationalityLabel">Nationalité:</span> {{director.nationality}}</p>

            <p class="personDescriptionLabel">À propos:</p>
            <hr>
            <p class="personDescription">{{director.description}}</p>
        </div>
    </div>
{% endblock %}
